page-home {


}

.escore-inconclusivo{
  background-color: red;
  font-weight: bold;
  color: white;
}

.escore-sem-ind{
  background-color: #00B035;
  font-weight: bold;
  color: white;
}

.escore-sugestao{
  background-color: #f5dd30;
  font-weight: bold;
  color: white;
}

.escore-ind-entrevista{
  background-color: #ff9400;
  font-weight: bold;
  color: white;
}

.escore-necessidade-entrevista{
  background-color: #ff4c00;
  font-weight: bold;
  color: white;
}

.escore-avaliacao-necessaria{
  background-color: red;
  font-weight: bold;
  color: white;
}

.msg-erro{
  background-color: red;
  font-weight: bold;
  color: white;
}
